[submodule "3rdparty/qwtplot3d"]
	path = 3rdparty/qwtplot3d
	url = https://github.com/Makhber/qwtplot3d
[submodule "3rdparty/liborigin"]
	path = 3rdparty/liborigin
	url = https://github.com/Makhber/liborigin
